{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "DMS REST API",
    "version" : "1.1.1"
  },
  "servers" : [ {
    "url" : "https://dmsresteai-prod-dmsresteai.apps.capp.muenchen.de/api/v1.1.1"
  } ],
  "tags" : [ {
    "name" : "/disposalScheduleDates"
  }, {
    "name" : "/depositObjects"
  }, {
    "name" : "/searchObjNames"
  }, {
    "name" : "/apentries"
  }, {
    "name" : "/revokeDepositObjects"
  }, {
    "name" : "/outgoings"
  }, {
    "name" : "/incomings"
  }, {
    "name" : "/readDocumentObjectsMetaData"
  }, {
    "name" : "/procedures"
  }, {
    "name" : "/objectAndImportToInbox"
  }, {
    "name" : "/contentObjects"
  }, {
    "name" : "/subjectAreaUnits"
  }, {
    "name" : "/cancelObjects"
  }, {
    "name" : "/contentObjectMetaData"
  }, {
    "name" : "/files"
  }, {
    "name" : "setSignatureObjects"
  }, {
    "name" : "/procedureObjects"
  }, {
    "name" : "/subjectAreaFileObjects"
  }, {
    "name" : "/accessDefinitions"
  }, {
    "name" : "/documentObjects"
  }, {
    "name" : "/businessDataValue"
  }, {
    "name" : "/addAddressees"
  }, {
    "name" : "/subjectAreas"
  }, {
    "name" : "/reAssignObject"
  } ],
  "paths" : {
    "/disposalScheduleDates/{objaddress}" : {
      "put" : {
        "tags" : [ "/disposalScheduleDates" ],
        "summary" : "Update disposal schedule date ",
        "operationId" : "DisposalScheduleDateAendern",
        "parameters" : [ {
          "name" : "x-anwendung",
          "in" : "header",
          "description" : "Aufrufende Fachanwendung",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "SWH"
        }, {
          "name" : "userlogin",
          "in" : "header",
          "description" : "Übergabe des Benutzer-Logins, von deren Berechtigung die Aktion durchgeführt werden soll.",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "max.mustermann"
        }, {
          "name" : "joboe",
          "in" : "header",
          "description" : "COO-ID der Organisationseinheit des Nutzers",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "COO.1.2300.1.847"
        }, {
          "name" : "jobposition",
          "in" : "header",
          "description" : "Rolle, in der der Nutzer handelt",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "DocumentManager"
        }, {
          "name" : "objaddress",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SetDisposalScheduleDateAnfrageDTO"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SetDisposalScheduleDateAntwortDTO"
                }
              }
            }
          },
          "401" : {
            "description" : "Falscher oder fehlender technischer Nutzer."
          },
          "400" : {
            "description" : "Aufruf ans DMS ist gescheitert. Im Body sind Details enthalten."
          },
          "500" : {
            "description" : "Ein unerwarteter Fehler innerhalb der EAI ist aufgetreten."
          }
        },
        "security" : [ {
          "basicAuthSecurityDefintion" : [ ]
        } ]
      }
    },
    "/depositObjects/{objaddress}" : {
      "put" : {
        "tags" : [ "/depositObjects" ],
        "summary" : "z.A. setzen",
        "operationId" : "Deposit",
        "parameters" : [ {
          "name" : "x-anwendung",
          "in" : "header",
          "description" : "Aufrufende Fachanwendung",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "SWH"
        }, {
          "name" : "userlogin",
          "in" : "header",
          "description" : "Übergabe des Benutzer-Logins, von deren Berechtigung die Aktion durchgeführt werden soll.",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "max.mustermann"
        }, {
          "name" : "joboe",
          "in" : "header",
          "description" : "COO-ID der Organisationseinheit des Nutzers",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "COO.1.2300.1.847"
        }, {
          "name" : "jobposition",
          "in" : "header",
          "description" : "Rolle, in der der Nutzer handelt",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "DocumentManager"
        }, {
          "name" : "objaddress",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DmsObjektResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Falscher oder fehlender technischer Nutzer."
          },
          "400" : {
            "description" : "Aufruf ans DMS ist gescheitert. Im Body sind Details enthalten."
          },
          "500" : {
            "description" : "Ein unerwarteter Fehler innerhalb der EAI ist aufgetreten."
          }
        },
        "security" : [ {
          "basicAuthSecurityDefintion" : [ ]
        } ]
      }
    },
    "/searchObjNames/search" : {
      "post" : {
        "tags" : [ "/searchObjNames" ],
        "summary" : "Suche nach Objekt Name",
        "operationId" : "SearchObjName",
        "parameters" : [ {
          "name" : "x-anwendung",
          "in" : "header",
          "description" : "Aufrufende Fachanwendung",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "SWH"
        }, {
          "name" : "userlogin",
          "in" : "header",
          "description" : "Übergabe des Benutzer-Logins, von deren Berechtigung die Aktion durchgeführt werden soll.",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "max.mustermann"
        }, {
          "name" : "joboe",
          "in" : "header",
          "description" : "COO-ID der Organisationseinheit des Nutzers",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "COO.1.2300.1.847"
        }, {
          "name" : "jobposition",
          "in" : "header",
          "description" : "Rolle, in der der Nutzer handelt",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "DocumentManager"
        } ],
        "requestBody" : {
          "description" : "",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SearchObjNameAnfrageDTO"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SearchObjNameAntwortDTO"
                }
              }
            }
          },
          "401" : {
            "description" : "Falscher oder fehlender technischer Nutzer."
          },
          "400" : {
            "description" : "Aufruf ans DMS ist gescheitert. Im Body sind Details enthalten."
          },
          "500" : {
            "description" : "Ein unerwarteter Fehler innerhalb der EAI ist aufgetreten."
          }
        },
        "security" : [ {
          "basicAuthSecurityDefintion" : [ ]
        } ]
      }
    },
    "/apentries/{objaddress}" : {
      "get" : {
        "tags" : [ "/apentries" ],
        "summary" : "Liste von Vorgängen auslesen",
        "operationId" : "AkteReadApentry",
        "parameters" : [ {
          "name" : "x-anwendung",
          "in" : "header",
          "description" : "Aufrufende Fachanwendung",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "SWH"
        }, {
          "name" : "userlogin",
          "in" : "header",
          "description" : "Übergabe des Benutzer-Logins, von deren Berechtigung die Aktion durchgeführt werden soll.",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "max.mustermann"
        }, {
          "name" : "joboe",
          "in" : "header",
          "description" : "COO-ID der Organisationseinheit des Nutzers",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "COO.1.2300.1.847"
        }, {
          "name" : "jobposition",
          "in" : "header",
          "description" : "Rolle, in der der Nutzer handelt",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "DocumentManager"
        }, {
          "name" : "objaddress",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ReadApentryAntwortDTO"
                }
              }
            }
          },
          "401" : {
            "description" : "Falscher oder fehlender technischer Nutzer."
          },
          "400" : {
            "description" : "Aufruf ans DMS ist gescheitert. Im Body sind Details enthalten."
          },
          "500" : {
            "description" : "Ein unerwarteter Fehler innerhalb der EAI ist aufgetreten."
          }
        },
        "security" : [ {
          "basicAuthSecurityDefintion" : [ ]
        } ]
      }
    },
    "/revokeDepositObjects/{objaddress}" : {
      "put" : {
        "tags" : [ "/revokeDepositObjects" ],
        "summary" : "z.A. aufheben",
        "operationId" : "RevokeDeposit",
        "parameters" : [ {
          "name" : "x-anwendung",
          "in" : "header",
          "description" : "Aufrufende Fachanwendung",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "SWH"
        }, {
          "name" : "userlogin",
          "in" : "header",
          "description" : "Übergabe des Benutzer-Logins, von deren Berechtigung die Aktion durchgeführt werden soll.",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "max.mustermann"
        }, {
          "name" : "joboe",
          "in" : "header",
          "description" : "COO-ID der Organisationseinheit des Nutzers",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "COO.1.2300.1.847"
        }, {
          "name" : "jobposition",
          "in" : "header",
          "description" : "Rolle, in der der Nutzer handelt",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "DocumentManager"
        }, {
          "name" : "objaddress",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DmsObjektResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Falscher oder fehlender technischer Nutzer."
          },
          "400" : {
            "description" : "Aufruf ans DMS ist gescheitert. Im Body sind Details enthalten."
          },
          "500" : {
            "description" : "Ein unerwarteter Fehler innerhalb der EAI ist aufgetreten."
          }
        },
        "security" : [ {
          "basicAuthSecurityDefintion" : [ ]
        } ]
      }
    },
    "/outgoings/{objaddress}" : {
      "get" : {
        "tags" : [ "/outgoings" ],
        "summary" : "Ausgang lesen",
        "operationId" : "AusgangLesen",
        "parameters" : [ {
          "name" : "x-anwendung",
          "in" : "header",
          "description" : "Aufrufende Fachanwendung",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "SWH"
        }, {
          "name" : "userlogin",
          "in" : "header",
          "description" : "Übergabe des Benutzer-Logins, von deren Berechtigung die Aktion durchgeführt werden soll.",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "max.mustermann"
        }, {
          "name" : "joboe",
          "in" : "header",
          "description" : "COO-ID der Organisationseinheit des Nutzers",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "COO.1.2300.1.847"
        }, {
          "name" : "jobposition",
          "in" : "header",
          "description" : "Rolle, in der der Nutzer handelt",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "DocumentManager"
        }, {
          "name" : "objaddress",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ReadOutgoingAntwortDTO"
                }
              }
            }
          },
          "401" : {
            "description" : "Falscher oder fehlender technischer Nutzer."
          },
          "400" : {
            "description" : "Aufruf ans DMS ist gescheitert. Im Body sind Details enthalten."
          },
          "500" : {
            "description" : "Ein unerwarteter Fehler innerhalb der EAI ist aufgetreten."
          }
        },
        "security" : [ {
          "basicAuthSecurityDefintion" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "/outgoings" ],
        "summary" : "Ausgang ändern",
        "operationId" : "UpdateOutgoing",
        "parameters" : [ {
          "name" : "x-anwendung",
          "in" : "header",
          "description" : "Aufrufende Fachanwendung",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "SWH"
        }, {
          "name" : "userlogin",
          "in" : "header",
          "description" : "Übergabe des Benutzer-Logins, von deren Berechtigung die Aktion durchgeführt werden soll.",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "max.mustermann"
        }, {
          "name" : "joboe",
          "in" : "header",
          "description" : "COO-ID der Organisationseinheit des Nutzers",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "COO.1.2300.1.847"
        }, {
          "name" : "jobposition",
          "in" : "header",
          "description" : "Rolle, in der der Nutzer handelt",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "DocumentManager"
        }, {
          "name" : "objaddress",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "",
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateOutgoingRequestBodyDTO"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UpdateOutgoingResponseDTO"
                }
              }
            }
          },
          "401" : {
            "description" : "Falscher oder fehlender technischer Nutzer."
          },
          "400" : {
            "description" : "Aufruf ans DMS ist gescheitert. Im Body sind Details enthalten."
          },
          "500" : {
            "description" : "Ein unerwarteter Fehler innerhalb der EAI ist aufgetreten."
          }
        },
        "security" : [ {
          "basicAuthSecurityDefintion" : [ ]
        } ]
      }
    },
    "/incomings" : {
      "post" : {
        "tags" : [ "/incomings" ],
        "summary" : "Eingang anlegen",
        "operationId" : "EingangZuVorgangAnlegen",
        "parameters" : [ {
          "name" : "x-anwendung",
          "in" : "header",
          "description" : "Aufrufende Fachanwendung",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "SWH"
        }, {
          "name" : "userlogin",
          "in" : "header",
          "description" : "Übergabe des Benutzer-Logins, von deren Berechtigung die Aktion durchgeführt werden soll.",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "max.mustermann"
        }, {
          "name" : "joboe",
          "in" : "header",
          "description" : "COO-ID der Organisationseinheit des Nutzers",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "COO.1.2300.1.847"
        }, {
          "name" : "jobposition",
          "in" : "header",
          "description" : "Rolle, in der der Nutzer handelt",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "DocumentManager"
        } ],
        "requestBody" : {
          "description" : "",
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateIncomingRequestBodyDTO"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CreateIncomingAntwortDTO"
                }
              }
            }
          },
          "401" : {
            "description" : "Falscher oder fehlender technischer Nutzer."
          },
          "400" : {
            "description" : "Aufruf ans DMS ist gescheitert. Im Body sind Details enthalten."
          },
          "500" : {
            "description" : "Ein unerwarteter Fehler innerhalb der EAI ist aufgetreten."
          }
        },
        "security" : [ {
          "basicAuthSecurityDefintion" : [ ]
        } ]
      }
    },
    "/readDocumentObjectsMetaData/{objaddress}" : {
      "get" : {
        "tags" : [ "/readDocumentObjectsMetaData" ],
        "summary" : "Liste von Schriftstücken mit Metadaten auslesen",
        "operationId" : "ReadDocumentObjectsMetaData",
        "parameters" : [ {
          "name" : "x-anwendung",
          "in" : "header",
          "description" : "Aufrufende Fachanwendung",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "SWH"
        }, {
          "name" : "userlogin",
          "in" : "header",
          "description" : "Übergabe des Benutzer-Logins, von deren Berechtigung die Aktion durchgeführt werden soll.",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "max.mustermann"
        }, {
          "name" : "joboe",
          "in" : "header",
          "description" : "COO-ID der Organisationseinheit des Nutzers",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "COO.1.2300.1.847"
        }, {
          "name" : "jobposition",
          "in" : "header",
          "description" : "Rolle, in der der Nutzer handelt",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "DocumentManager"
        }, {
          "name" : "propdocstate",
          "in" : "header",
          "description" : "docstate Nummer",
          "required" : false,
          "schema" : {
            "type" : "integer"
          },
          "example" : "12"
        }, {
          "name" : "propbostate",
          "in" : "header",
          "description" : "bostate",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "COO.1.2301.1.679"
        }, {
          "name" : "objaddress",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ReadDocumentObjectMetaDataResponseDTO"
                }
              }
            }
          },
          "401" : {
            "description" : "Falscher oder fehlender technischer Nutzer."
          },
          "400" : {
            "description" : "Aufruf ans DMS ist gescheitert. Im Body sind Details enthalten."
          },
          "500" : {
            "description" : "Ein unerwarteter Fehler innerhalb der EAI ist aufgetreten."
          }
        },
        "security" : [ {
          "basicAuthSecurityDefintion" : [ ]
        } ]
      }
    },
    "/procedures/{objaddress}" : {
      "get" : {
        "tags" : [ "/procedures" ],
        "summary" : "Vorgang lesen",
        "operationId" : "VorgangLesen",
        "parameters" : [ {
          "name" : "x-anwendung",
          "in" : "header",
          "description" : "Aufrufende Fachanwendung",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "SWH"
        }, {
          "name" : "userlogin",
          "in" : "header",
          "description" : "Übergabe des Benutzer-Logins, von deren Berechtigung die Aktion durchgeführt werden soll.",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "max.mustermann"
        }, {
          "name" : "joboe",
          "in" : "header",
          "description" : "COO-ID der Organisationseinheit des Nutzers",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "COO.1.2300.1.847"
        }, {
          "name" : "jobposition",
          "in" : "header",
          "description" : "Rolle, in der der Nutzer handelt",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "DocumentManager"
        }, {
          "name" : "objaddress",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ReadProcedureResponseDTO"
                }
              }
            }
          },
          "401" : {
            "description" : "Falscher oder fehlender technischer Nutzer."
          },
          "400" : {
            "description" : "Aufruf ans DMS ist gescheitert. Im Body sind Details enthalten."
          },
          "500" : {
            "description" : "Ein unerwarteter Fehler innerhalb der EAI ist aufgetreten."
          }
        },
        "security" : [ {
          "basicAuthSecurityDefintion" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "/procedures" ],
        "summary" : "Vorgang ändern",
        "operationId" : "UpdateProcedure",
        "parameters" : [ {
          "name" : "x-anwendung",
          "in" : "header",
          "description" : "Aufrufende Fachanwendung",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "SWH"
        }, {
          "name" : "userlogin",
          "in" : "header",
          "description" : "Übergabe des Benutzer-Logins, von deren Berechtigung die Aktion durchgeführt werden soll.",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "max.mustermann"
        }, {
          "name" : "joboe",
          "in" : "header",
          "description" : "COO-ID der Organisationseinheit des Nutzers",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "COO.1.2300.1.847"
        }, {
          "name" : "jobposition",
          "in" : "header",
          "description" : "Rolle, in der der Nutzer handelt",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "DocumentManager"
        }, {
          "name" : "objaddress",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateProcedureDTO"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DmsObjektResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Falscher oder fehlender technischer Nutzer."
          },
          "400" : {
            "description" : "Aufruf ans DMS ist gescheitert. Im Body sind Details enthalten."
          },
          "500" : {
            "description" : "Ein unerwarteter Fehler innerhalb der EAI ist aufgetreten."
          }
        },
        "security" : [ {
          "basicAuthSecurityDefintion" : [ ]
        } ]
      }
    },
    "/objectAndImportToInbox" : {
      "post" : {
        "tags" : [ "/objectAndImportToInbox" ],
        "summary" : "Erzeugen eines Schiftstückes in einem Postkorb",
        "operationId" : "CreateObjectAndImportToInbox",
        "parameters" : [ {
          "name" : "x-anwendung",
          "in" : "header",
          "description" : "Aufrufende Fachanwendung",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "SWH"
        }, {
          "name" : "userlogin",
          "in" : "header",
          "description" : "Übergabe des Benutzer-Logins, von deren Berechtigung die Aktion durchgeführt werden soll.",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "max.mustermann"
        }, {
          "name" : "joboe",
          "in" : "header",
          "description" : "COO-ID der Organisationseinheit des Nutzers",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "COO.1.2300.1.847"
        }, {
          "name" : "jobposition",
          "in" : "header",
          "description" : "Rolle, in der der Nutzer handelt",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "DocumentManager"
        } ],
        "requestBody" : {
          "description" : "",
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateObjectAndImportToInboxRequestDTO"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "success"
          },
          "401" : {
            "description" : "Falscher oder fehlender technischer Nutzer."
          },
          "400" : {
            "description" : "Aufruf ans DMS ist gescheitert. Im Body sind Details enthalten.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DmsErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Ein unerwarteter Fehler innerhalb der EAI ist aufgetreten."
          }
        },
        "security" : [ {
          "basicAuthSecurityDefintion" : [ ]
        } ]
      }
    },
    "/contentObjects/{objaddress}" : {
      "get" : {
        "tags" : [ "/contentObjects" ],
        "summary" : "Schriftstueck lesen",
        "operationId" : "AnfrageSchriftstueckLesen",
        "parameters" : [ {
          "name" : "x-anwendung",
          "in" : "header",
          "description" : "Aufrufende Fachanwendung",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "SWH"
        }, {
          "name" : "userlogin",
          "in" : "header",
          "description" : "Übergabe des Benutzer-Logins, von deren Berechtigung die Aktion durchgeführt werden soll.",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "max.mustermann"
        }, {
          "name" : "joboe",
          "in" : "header",
          "description" : "COO-ID der Organisationseinheit des Nutzers",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "COO.1.2300.1.847"
        }, {
          "name" : "jobposition",
          "in" : "header",
          "description" : "Rolle, in der der Nutzer handelt",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "DocumentManager"
        }, {
          "name" : "objaddress",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/octet-stream" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DmsErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Falscher oder fehlender technischer Nutzer."
          },
          "400" : {
            "description" : "Aufruf ans DMS ist gescheitert. Im Body sind Details enthalten."
          },
          "500" : {
            "description" : "Ein unerwarteter Fehler innerhalb der EAI ist aufgetreten."
          }
        },
        "security" : [ {
          "basicAuthSecurityDefintion" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "/contentObjects" ],
        "summary" : "Ändern eines Schiftstücks",
        "operationId" : "SchriftstueckAendern",
        "parameters" : [ {
          "name" : "x-anwendung",
          "in" : "header",
          "description" : "Aufrufende Fachanwendung",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "SWH"
        }, {
          "name" : "userlogin",
          "in" : "header",
          "description" : "Übergabe des Benutzer-Logins, von deren Berechtigung die Aktion durchgeführt werden soll.",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "max.mustermann"
        }, {
          "name" : "joboe",
          "in" : "header",
          "description" : "COO-ID der Organisationseinheit des Nutzers",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "COO.1.2300.1.847"
        }, {
          "name" : "jobposition",
          "in" : "header",
          "description" : "Rolle, in der der Nutzer handelt",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "DocumentManager"
        }, {
          "name" : "objaddress",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "",
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateContentObjectRequestBodyDTO"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UpdateContentObjectAntwortDTO"
                }
              }
            }
          },
          "401" : {
            "description" : "Falscher oder fehlender technischer Nutzer."
          },
          "400" : {
            "description" : "Aufruf ans DMS ist gescheitert. Im Body sind Details enthalten."
          },
          "500" : {
            "description" : "Ein unerwarteter Fehler innerhalb der EAI ist aufgetreten."
          }
        },
        "security" : [ {
          "basicAuthSecurityDefintion" : [ ]
        } ]
      }
    },
    "/subjectAreaUnits" : {
      "post" : {
        "tags" : [ "/subjectAreaUnits" ],
        "summary" : "Aktenplaneintrag anlegen",
        "operationId" : "AkteplaneintragAnlegen",
        "parameters" : [ {
          "name" : "x-anwendung",
          "in" : "header",
          "description" : "Aufrufende Fachanwendung",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "SWH"
        }, {
          "name" : "userlogin",
          "in" : "header",
          "description" : "Übergabe des Benutzer-Logins, von deren Berechtigung die Aktion durchgeführt werden soll.",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "max.mustermann"
        }, {
          "name" : "joboe",
          "in" : "header",
          "description" : "COO-ID der Organisationseinheit des Nutzers",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "COO.1.2300.1.847"
        }, {
          "name" : "jobposition",
          "in" : "header",
          "description" : "Rolle, in der der Nutzer handelt",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "DocumentManager"
        } ],
        "requestBody" : {
          "description" : "",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateSubjectAreaUnitAnfrageDTO"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/octet-stream" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DmsObjektResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Falscher oder fehlender technischer Nutzer."
          },
          "400" : {
            "description" : "Aufruf ans DMS ist gescheitert. Im Body sind Details enthalten."
          },
          "500" : {
            "description" : "Ein unerwarteter Fehler innerhalb der EAI ist aufgetreten."
          }
        },
        "security" : [ {
          "basicAuthSecurityDefintion" : [ ]
        } ]
      }
    },
    "/cancelObjects/{objaddress}" : {
      "put" : {
        "tags" : [ "/cancelObjects" ],
        "summary" : "Schriftstueck stornieren",
        "operationId" : "SchriftstueckStornieren",
        "parameters" : [ {
          "name" : "x-anwendung",
          "in" : "header",
          "description" : "Aufrufende Fachanwendung",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "SWH"
        }, {
          "name" : "userlogin",
          "in" : "header",
          "description" : "Übergabe des Benutzer-Logins, von deren Berechtigung die Aktion durchgeführt werden soll.",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "max.mustermann"
        }, {
          "name" : "joboe",
          "in" : "header",
          "description" : "COO-ID der Organisationseinheit des Nutzers",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "COO.1.2300.1.847"
        }, {
          "name" : "jobposition",
          "in" : "header",
          "description" : "Rolle, in der der Nutzer handelt",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "DocumentManager"
        }, {
          "name" : "objaddress",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "success"
          },
          "401" : {
            "description" : "Falscher oder fehlender technischer Nutzer."
          },
          "400" : {
            "description" : "Aufruf ans DMS ist gescheitert. Im Body sind Details enthalten.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DmsErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Ein unerwarteter Fehler innerhalb der EAI ist aufgetreten."
          }
        },
        "security" : [ {
          "basicAuthSecurityDefintion" : [ ]
        } ]
      }
    },
    "/outgoings" : {
      "post" : {
        "tags" : [ "/outgoings" ],
        "summary" : "Ausgang anlegen",
        "operationId" : "AusgangAnlegenZuVorgang",
        "parameters" : [ {
          "name" : "x-anwendung",
          "in" : "header",
          "description" : "Aufrufende Fachanwendung",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "SWH"
        }, {
          "name" : "userlogin",
          "in" : "header",
          "description" : "Übergabe des Benutzer-Logins, von deren Berechtigung die Aktion durchgeführt werden soll.",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "max.mustermann"
        }, {
          "name" : "joboe",
          "in" : "header",
          "description" : "COO-ID der Organisationseinheit des Nutzers",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "COO.1.2300.1.847"
        }, {
          "name" : "jobposition",
          "in" : "header",
          "description" : "Rolle, in der der Nutzer handelt",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "DocumentManager"
        } ],
        "requestBody" : {
          "description" : "",
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateOutgoingRequestBodyDTO"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CreateOutgoingAntwortDTO"
                }
              }
            }
          },
          "401" : {
            "description" : "Falscher oder fehlender technischer Nutzer."
          },
          "400" : {
            "description" : "Aufruf ans DMS ist gescheitert. Im Body sind Details enthalten."
          },
          "500" : {
            "description" : "Ein unerwarteter Fehler innerhalb der EAI ist aufgetreten."
          }
        },
        "security" : [ {
          "basicAuthSecurityDefintion" : [ ]
        } ]
      }
    },
    "/contentObjectMetaData/{objaddress}" : {
      "get" : {
        "tags" : [ "/contentObjectMetaData" ],
        "summary" : "Schriftstück Metadaten lesen",
        "operationId" : "SchriftstueckMetaDataLesen",
        "parameters" : [ {
          "name" : "x-anwendung",
          "in" : "header",
          "description" : "Aufrufende Fachanwendung",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "SWH"
        }, {
          "name" : "userlogin",
          "in" : "header",
          "description" : "Übergabe des Benutzer-Logins, von deren Berechtigung die Aktion durchgeführt werden soll.",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "max.mustermann"
        }, {
          "name" : "joboe",
          "in" : "header",
          "description" : "COO-ID der Organisationseinheit des Nutzers",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "COO.1.2300.1.847"
        }, {
          "name" : "jobposition",
          "in" : "header",
          "description" : "Rolle, in der der Nutzer handelt",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "DocumentManager"
        }, {
          "name" : "objaddress",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ReadContentObjectMetaDataAntwortDTO"
                }
              }
            }
          },
          "401" : {
            "description" : "Falscher oder fehlender technischer Nutzer."
          },
          "400" : {
            "description" : "Aufruf ans DMS ist gescheitert. Im Body sind Details enthalten."
          },
          "500" : {
            "description" : "Ein unerwarteter Fehler innerhalb der EAI ist aufgetreten."
          }
        },
        "security" : [ {
          "basicAuthSecurityDefintion" : [ ]
        } ]
      }
    },
    "/contentObjects" : {
      "post" : {
        "tags" : [ "/contentObjects" ],
        "summary" : "Schriftstueck anlegen",
        "operationId" : "SchriftstueckAnlegen",
        "parameters" : [ {
          "name" : "x-anwendung",
          "in" : "header",
          "description" : "Aufrufende Fachanwendung",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "SWH"
        }, {
          "name" : "userlogin",
          "in" : "header",
          "description" : "Übergabe des Benutzer-Logins, von deren Berechtigung die Aktion durchgeführt werden soll.",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "max.mustermann"
        }, {
          "name" : "joboe",
          "in" : "header",
          "description" : "COO-ID der Organisationseinheit des Nutzers",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "COO.1.2300.1.847"
        }, {
          "name" : "jobposition",
          "in" : "header",
          "description" : "Rolle, in der der Nutzer handelt",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "DocumentManager"
        } ],
        "requestBody" : {
          "description" : "",
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateContentObjectRequestBodyDTO"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CreateContentObjectAntwortDTO"
                }
              }
            }
          },
          "401" : {
            "description" : "Falscher oder fehlender technischer Nutzer."
          },
          "400" : {
            "description" : "Aufruf ans DMS ist gescheitert. Im Body sind Details enthalten."
          },
          "500" : {
            "description" : "Ein unerwarteter Fehler innerhalb der EAI ist aufgetreten."
          }
        },
        "security" : [ {
          "basicAuthSecurityDefintion" : [ ]
        } ]
      }
    },
    "/files" : {
      "post" : {
        "tags" : [ "/files" ],
        "summary" : "CreateFileGI",
        "operationId" : "AkteAnlegen",
        "parameters" : [ {
          "name" : "x-anwendung",
          "in" : "header",
          "description" : "Aufrufende Fachanwendung",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "SWH"
        }, {
          "name" : "userlogin",
          "in" : "header",
          "description" : "Übergabe des Benutzer-Logins, von deren Berechtigung die Aktion durchgeführt werden soll.",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "max.mustermann"
        }, {
          "name" : "joboe",
          "in" : "header",
          "description" : "COO-ID der Organisationseinheit des Nutzers",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "COO.1.2300.1.847"
        }, {
          "name" : "jobposition",
          "in" : "header",
          "description" : "Rolle, in der der Nutzer handelt",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "DocumentManager"
        } ],
        "requestBody" : {
          "description" : "",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateFileDTO"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DmsObjektResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Falscher oder fehlender technischer Nutzer."
          },
          "400" : {
            "description" : "Aufruf ans DMS ist gescheitert. Im Body sind Details enthalten."
          },
          "500" : {
            "description" : "Ein unerwarteter Fehler innerhalb der EAI ist aufgetreten."
          }
        },
        "security" : [ {
          "basicAuthSecurityDefintion" : [ ]
        } ]
      }
    },
    "/setSignatureObjects/{objaddress}" : {
      "put" : {
        "tags" : [ "setSignatureObjects" ],
        "summary" : "Unterschrift setzen auf Objekten",
        "operationId" : "SetSignature",
        "parameters" : [ {
          "name" : "x-anwendung",
          "in" : "header",
          "description" : "Aufrufende Fachanwendung",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "SWH"
        }, {
          "name" : "userlogin",
          "in" : "header",
          "description" : "Übergabe des Benutzer-Logins, von deren Berechtigung die Aktion durchgeführt werden soll.",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "max.mustermann"
        }, {
          "name" : "joboe",
          "in" : "header",
          "description" : "COO-ID der Organisationseinheit des Nutzers",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "COO.1.2300.1.847"
        }, {
          "name" : "jobposition",
          "in" : "header",
          "description" : "Rolle, in der der Nutzer handelt",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "DocumentManager"
        }, {
          "name" : "objaddress",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SetSignatureRequestDTO"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "success"
          },
          "401" : {
            "description" : "Falscher oder fehlender technischer Nutzer."
          },
          "400" : {
            "description" : "Aufruf ans DMS ist gescheitert. Im Body sind Details enthalten.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DmsErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Ein unerwarteter Fehler innerhalb der EAI ist aufgetreten."
          }
        },
        "security" : [ {
          "basicAuthSecurityDefintion" : [ ]
        } ]
      }
    },
    "/procedureObjects/{objaddress}" : {
      "get" : {
        "tags" : [ "/procedureObjects" ],
        "summary" : "Liste von Vorgängen auslesen",
        "operationId" : "VorgangObjectLesen",
        "parameters" : [ {
          "name" : "x-anwendung",
          "in" : "header",
          "description" : "Aufrufende Fachanwendung",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "SWH"
        }, {
          "name" : "userlogin",
          "in" : "header",
          "description" : "Übergabe des Benutzer-Logins, von deren Berechtigung die Aktion durchgeführt werden soll.",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "max.mustermann"
        }, {
          "name" : "joboe",
          "in" : "header",
          "description" : "COO-ID der Organisationseinheit des Nutzers",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "COO.1.2300.1.847"
        }, {
          "name" : "jobposition",
          "in" : "header",
          "description" : "Rolle, in der der Nutzer handelt",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "DocumentManager"
        }, {
          "name" : "objaddress",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ReadProcedureObjectsAntwortDTO"
                }
              }
            }
          },
          "401" : {
            "description" : "Falscher oder fehlender technischer Nutzer."
          },
          "400" : {
            "description" : "Aufruf ans DMS ist gescheitert. Im Body sind Details enthalten."
          },
          "500" : {
            "description" : "Ein unerwarteter Fehler innerhalb der EAI ist aufgetreten."
          }
        },
        "security" : [ {
          "basicAuthSecurityDefintion" : [ ]
        } ]
      }
    },
    "/apentries/search" : {
      "post" : {
        "tags" : [ "/apentries" ],
        "summary" : "Suche nach Aktenplaneinträgen",
        "operationId" : "SearchApentry",
        "parameters" : [ {
          "name" : "x-anwendung",
          "in" : "header",
          "description" : "Aufrufende Fachanwendung",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "SWH"
        }, {
          "name" : "userlogin",
          "in" : "header",
          "description" : "Übergabe des Benutzer-Logins, von deren Berechtigung die Aktion durchgeführt werden soll.",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "max.mustermann"
        }, {
          "name" : "joboe",
          "in" : "header",
          "description" : "COO-ID der Organisationseinheit des Nutzers",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "COO.1.2300.1.847"
        }, {
          "name" : "jobposition",
          "in" : "header",
          "description" : "Rolle, in der der Nutzer handelt",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "DocumentManager"
        } ],
        "requestBody" : {
          "description" : "",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SearchApentryDTO"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SearchApentryResponseDTO"
                }
              }
            }
          },
          "401" : {
            "description" : "Falscher oder fehlender technischer Nutzer."
          },
          "400" : {
            "description" : "Aufruf ans DMS ist gescheitert. Im Body sind Details enthalten."
          },
          "500" : {
            "description" : "Ein unerwarteter Fehler innerhalb der EAI ist aufgetreten."
          }
        },
        "security" : [ {
          "basicAuthSecurityDefintion" : [ ]
        } ]
      }
    },
    "/subjectAreaFileObjects/{objaddress}" : {
      "get" : {
        "tags" : [ "/subjectAreaFileObjects" ],
        "summary" : "Liste von Vorgängen auslesen",
        "operationId" : "AkteSubjectLesen",
        "parameters" : [ {
          "name" : "x-anwendung",
          "in" : "header",
          "description" : "Aufrufende Fachanwendung",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "SWH"
        }, {
          "name" : "userlogin",
          "in" : "header",
          "description" : "Übergabe des Benutzer-Logins, von deren Berechtigung die Aktion durchgeführt werden soll.",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "max.mustermann"
        }, {
          "name" : "joboe",
          "in" : "header",
          "description" : "COO-ID der Organisationseinheit des Nutzers",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "COO.1.2300.1.847"
        }, {
          "name" : "jobposition",
          "in" : "header",
          "description" : "Rolle, in der der Nutzer handelt",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "DocumentManager"
        }, {
          "name" : "propdocstate",
          "in" : "header",
          "description" : "docstate Nummer",
          "required" : false,
          "schema" : {
            "type" : "integer"
          },
          "example" : "12"
        }, {
          "name" : "propbostate",
          "in" : "header",
          "description" : "bostate",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "COO.1.2301.1.679"
        }, {
          "name" : "objaddress",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ReadSubjectAreaFileAntwortDTO"
                }
              }
            }
          },
          "401" : {
            "description" : "Falscher oder fehlender technischer Nutzer."
          },
          "400" : {
            "description" : "Aufruf ans DMS ist gescheitert. Im Body sind Details enthalten."
          },
          "500" : {
            "description" : "Ein unerwarteter Fehler innerhalb der EAI ist aufgetreten."
          }
        },
        "security" : [ {
          "basicAuthSecurityDefintion" : [ ]
        } ]
      }
    },
    "/accessDefinitions/{objaddress}" : {
      "put" : {
        "tags" : [ "/accessDefinitions" ],
        "summary" : "Zugriffsdefinition des angegebenen Objektes aendern",
        "operationId" : "ObjectZugriffsdefinitionAendern",
        "parameters" : [ {
          "name" : "x-anwendung",
          "in" : "header",
          "description" : "Aufrufende Fachanwendung",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "SWH"
        }, {
          "name" : "userlogin",
          "in" : "header",
          "description" : "Übergabe des Benutzer-Logins, von deren Berechtigung die Aktion durchgeführt werden soll.",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "max.mustermann"
        }, {
          "name" : "joboe",
          "in" : "header",
          "description" : "COO-ID der Organisationseinheit des Nutzers",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "COO.1.2300.1.847"
        }, {
          "name" : "jobposition",
          "in" : "header",
          "description" : "Rolle, in der der Nutzer handelt",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "DocumentManager"
        }, {
          "name" : "objaddress",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateAccessDefinitionObjectAnfrageDTO"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "success"
          },
          "401" : {
            "description" : "Falscher oder fehlender technischer Nutzer."
          },
          "400" : {
            "description" : "Aufruf ans DMS ist gescheitert. Im Body sind Details enthalten.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DmsErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Ein unerwarteter Fehler innerhalb der EAI ist aufgetreten."
          }
        },
        "security" : [ {
          "basicAuthSecurityDefintion" : [ ]
        } ]
      }
    },
    "/documentObjects/{objaddress}" : {
      "get" : {
        "tags" : [ "/documentObjects" ],
        "summary" : "Liste von Schriftstücken auslesen",
        "operationId" : "DocumentObjectsLesen",
        "parameters" : [ {
          "name" : "x-anwendung",
          "in" : "header",
          "description" : "Aufrufende Fachanwendung",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "SWH"
        }, {
          "name" : "userlogin",
          "in" : "header",
          "description" : "Übergabe des Benutzer-Logins, von deren Berechtigung die Aktion durchgeführt werden soll.",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "max.mustermann"
        }, {
          "name" : "joboe",
          "in" : "header",
          "description" : "COO-ID der Organisationseinheit des Nutzers",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "COO.1.2300.1.847"
        }, {
          "name" : "jobposition",
          "in" : "header",
          "description" : "Rolle, in der der Nutzer handelt",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "DocumentManager"
        }, {
          "name" : "propdocstate",
          "in" : "header",
          "description" : "docstate Nummer",
          "required" : false,
          "schema" : {
            "type" : "integer"
          },
          "example" : "12"
        }, {
          "name" : "propbostate",
          "in" : "header",
          "description" : "bostate",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "COO.1.2301.1.679"
        }, {
          "name" : "objaddress",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ReadDocumentObjectsAntwortDTO"
                }
              }
            }
          },
          "401" : {
            "description" : "Falscher oder fehlender technischer Nutzer."
          },
          "400" : {
            "description" : "Aufruf ans DMS ist gescheitert. Im Body sind Details enthalten."
          },
          "500" : {
            "description" : "Ein unerwarteter Fehler innerhalb der EAI ist aufgetreten."
          }
        },
        "security" : [ {
          "basicAuthSecurityDefintion" : [ ]
        } ]
      }
    },
    "/files/{objaddress}" : {
      "get" : {
        "tags" : [ "/files" ],
        "summary" : "Akte lesen",
        "operationId" : "AkteLesen",
        "parameters" : [ {
          "name" : "x-anwendung",
          "in" : "header",
          "description" : "Aufrufende Fachanwendung",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "SWH"
        }, {
          "name" : "userlogin",
          "in" : "header",
          "description" : "Übergabe des Benutzer-Logins, von deren Berechtigung die Aktion durchgeführt werden soll.",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "max.mustermann"
        }, {
          "name" : "joboe",
          "in" : "header",
          "description" : "COO-ID der Organisationseinheit des Nutzers",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "COO.1.2300.1.847"
        }, {
          "name" : "jobposition",
          "in" : "header",
          "description" : "Rolle, in der der Nutzer handelt",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "DocumentManager"
        }, {
          "name" : "objaddress",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ReadFileResponseDTO"
                }
              }
            }
          },
          "401" : {
            "description" : "Falscher oder fehlender technischer Nutzer."
          },
          "400" : {
            "description" : "Aufruf ans DMS ist gescheitert. Im Body sind Details enthalten."
          },
          "500" : {
            "description" : "Ein unerwarteter Fehler innerhalb der EAI ist aufgetreten."
          }
        },
        "security" : [ {
          "basicAuthSecurityDefintion" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "/files" ],
        "summary" : "Akte ändern",
        "operationId" : "AkteAendern",
        "parameters" : [ {
          "name" : "x-anwendung",
          "in" : "header",
          "description" : "Aufrufende Fachanwendung",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "SWH"
        }, {
          "name" : "userlogin",
          "in" : "header",
          "description" : "Übergabe des Benutzer-Logins, von deren Berechtigung die Aktion durchgeführt werden soll.",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "max.mustermann"
        }, {
          "name" : "joboe",
          "in" : "header",
          "description" : "COO-ID der Organisationseinheit des Nutzers",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "COO.1.2300.1.847"
        }, {
          "name" : "jobposition",
          "in" : "header",
          "description" : "Rolle, in der der Nutzer handelt",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "DocumentManager"
        }, {
          "name" : "objaddress",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateFileDTO"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DmsObjektResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Falscher oder fehlender technischer Nutzer."
          },
          "400" : {
            "description" : "Aufruf ans DMS ist gescheitert. Im Body sind Details enthalten."
          },
          "500" : {
            "description" : "Ein unerwarteter Fehler innerhalb der EAI ist aufgetreten."
          }
        },
        "security" : [ {
          "basicAuthSecurityDefintion" : [ ]
        } ]
      }
    },
    "/businessDataValue/{objaddress}" : {
      "put" : {
        "tags" : [ "/businessDataValue" ],
        "summary" : "Fachdaten: Setzen aus der Fachanwendung",
        "operationId" : "FachanwendungSetzen",
        "parameters" : [ {
          "name" : "x-anwendung",
          "in" : "header",
          "description" : "Aufrufende Fachanwendung",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "SWH"
        }, {
          "name" : "userlogin",
          "in" : "header",
          "description" : "Übergabe des Benutzer-Logins, von deren Berechtigung die Aktion durchgeführt werden soll.",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "max.mustermann"
        }, {
          "name" : "joboe",
          "in" : "header",
          "description" : "COO-ID der Organisationseinheit des Nutzers",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "COO.1.2300.1.847"
        }, {
          "name" : "jobposition",
          "in" : "header",
          "description" : "Rolle, in der der Nutzer handelt",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "DocumentManager"
        }, {
          "name" : "objaddress",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateBusinessDataValueDTO"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "success"
          },
          "401" : {
            "description" : "Falscher oder fehlender technischer Nutzer."
          },
          "400" : {
            "description" : "Aufruf ans DMS ist gescheitert. Im Body sind Details enthalten.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DmsErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Ein unerwarteter Fehler innerhalb der EAI ist aufgetreten."
          }
        },
        "security" : [ {
          "basicAuthSecurityDefintion" : [ ]
        } ]
      }
    },
    "/procedures" : {
      "post" : {
        "tags" : [ "/procedures" ],
        "summary" : "Neuen Vorgang zu bestehenden Akte hinzufügen",
        "operationId" : "VorgangAnlegen",
        "parameters" : [ {
          "name" : "x-anwendung",
          "in" : "header",
          "description" : "Aufrufende Fachanwendung",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "SWH"
        }, {
          "name" : "userlogin",
          "in" : "header",
          "description" : "Übergabe des Benutzer-Logins, von deren Berechtigung die Aktion durchgeführt werden soll.",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "max.mustermann"
        }, {
          "name" : "joboe",
          "in" : "header",
          "description" : "COO-ID der Organisationseinheit des Nutzers",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "COO.1.2300.1.847"
        }, {
          "name" : "jobposition",
          "in" : "header",
          "description" : "Rolle, in der der Nutzer handelt",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "DocumentManager"
        } ],
        "requestBody" : {
          "description" : "",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateProcedureDTO"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DmsObjektResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Falscher oder fehlender technischer Nutzer."
          },
          "400" : {
            "description" : "Aufruf ans DMS ist gescheitert. Im Body sind Details enthalten."
          },
          "500" : {
            "description" : "Ein unerwarteter Fehler innerhalb der EAI ist aufgetreten."
          }
        },
        "security" : [ {
          "basicAuthSecurityDefintion" : [ ]
        } ]
      }
    },
    "/addAddressees/{objaddress}" : {
      "put" : {
        "tags" : [ "/addAddressees" ],
        "summary" : "Hinzufügen eines Freitextadressaten bei Dokumenten oder Vorgängen",
        "operationId" : "AddAddressee",
        "parameters" : [ {
          "name" : "x-anwendung",
          "in" : "header",
          "description" : "Aufrufende Fachanwendung",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "SWH"
        }, {
          "name" : "userlogin",
          "in" : "header",
          "description" : "Übergabe des Benutzer-Logins, von deren Berechtigung die Aktion durchgeführt werden soll.",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "max.mustermann"
        }, {
          "name" : "joboe",
          "in" : "header",
          "description" : "COO-ID der Organisationseinheit des Nutzers",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "COO.1.2300.1.847"
        }, {
          "name" : "jobposition",
          "in" : "header",
          "description" : "Rolle, in der der Nutzer handelt",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "DocumentManager"
        }, {
          "name" : "objaddress",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AddAddresseeRequestDTO"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "success"
          },
          "401" : {
            "description" : "Falscher oder fehlender technischer Nutzer."
          },
          "400" : {
            "description" : "Aufruf ans DMS ist gescheitert. Im Body sind Details enthalten.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DmsErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Ein unerwarteter Fehler innerhalb der EAI ist aufgetreten."
          }
        },
        "security" : [ {
          "basicAuthSecurityDefintion" : [ ]
        } ]
      }
    },
    "/subjectAreas/{objaddress}" : {
      "get" : {
        "tags" : [ "/subjectAreas" ],
        "summary" : "Liste von Aktenplaneintrag auslesen",
        "operationId" : "SubjectAreaObjectLesen",
        "parameters" : [ {
          "name" : "x-anwendung",
          "in" : "header",
          "description" : "Aufrufende Fachanwendung",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "SWH"
        }, {
          "name" : "userlogin",
          "in" : "header",
          "description" : "Übergabe des Benutzer-Logins, von deren Berechtigung die Aktion durchgeführt werden soll.",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "max.mustermann"
        }, {
          "name" : "joboe",
          "in" : "header",
          "description" : "COO-ID der Organisationseinheit des Nutzers",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "COO.1.2300.1.847"
        }, {
          "name" : "jobposition",
          "in" : "header",
          "description" : "Rolle, in der der Nutzer handelt",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "DocumentManager"
        }, {
          "name" : "objaddress",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ReadSubjectAreaObjectsAntwortDTO"
                }
              }
            }
          },
          "401" : {
            "description" : "Falscher oder fehlender technischer Nutzer."
          },
          "400" : {
            "description" : "Aufruf ans DMS ist gescheitert. Im Body sind Details enthalten."
          },
          "500" : {
            "description" : "Ein unerwarteter Fehler innerhalb der EAI ist aufgetreten."
          }
        },
        "security" : [ {
          "basicAuthSecurityDefintion" : [ ]
        } ]
      }
    },
    "/incomings/{objaddress}" : {
      "put" : {
        "tags" : [ "/incomings" ],
        "summary" : "Eingang ändern",
        "operationId" : "UpdateIncoming",
        "parameters" : [ {
          "name" : "x-anwendung",
          "in" : "header",
          "description" : "Aufrufende Fachanwendung",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "SWH"
        }, {
          "name" : "userlogin",
          "in" : "header",
          "description" : "Übergabe des Benutzer-Logins, von deren Berechtigung die Aktion durchgeführt werden soll.",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "max.mustermann"
        }, {
          "name" : "joboe",
          "in" : "header",
          "description" : "COO-ID der Organisationseinheit des Nutzers",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "COO.1.2300.1.847"
        }, {
          "name" : "jobposition",
          "in" : "header",
          "description" : "Rolle, in der der Nutzer handelt",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "DocumentManager"
        }, {
          "name" : "objaddress",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "",
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateIncomingRequestBodyDTO"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UpdateIncomingAntwortDTO"
                }
              }
            }
          },
          "401" : {
            "description" : "Falscher oder fehlender technischer Nutzer."
          },
          "400" : {
            "description" : "Aufruf ans DMS ist gescheitert. Im Body sind Details enthalten."
          },
          "500" : {
            "description" : "Ein unerwarteter Fehler innerhalb der EAI ist aufgetreten."
          }
        },
        "security" : [ {
          "basicAuthSecurityDefintion" : [ ]
        } ]
      }
    },
    "/reAssignObject/{objaddress}" : {
      "put" : {
        "tags" : [ "/reAssignObject" ],
        "summary" : "Objekt umschreiben",
        "operationId" : "ObjectUmschreiben",
        "parameters" : [ {
          "name" : "x-anwendung",
          "in" : "header",
          "description" : "Aufrufende Fachanwendung",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "SWH"
        }, {
          "name" : "userlogin",
          "in" : "header",
          "description" : "Übergabe des Benutzer-Logins, von deren Berechtigung die Aktion durchgeführt werden soll.",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "max.mustermann"
        }, {
          "name" : "joboe",
          "in" : "header",
          "description" : "COO-ID der Organisationseinheit des Nutzers",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "COO.1.2300.1.847"
        }, {
          "name" : "jobposition",
          "in" : "header",
          "description" : "Rolle, in der der Nutzer handelt",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "DocumentManager"
        }, {
          "name" : "objaddress",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ReAssignObjectDTO"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "success"
          },
          "401" : {
            "description" : "Falscher oder fehlender technischer Nutzer."
          },
          "400" : {
            "description" : "Aufruf ans DMS ist gescheitert. Im Body sind Details enthalten.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DmsErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Ein unerwarteter Fehler innerhalb der EAI ist aufgetreten."
          }
        },
        "security" : [ {
          "basicAuthSecurityDefintion" : [ ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "CreateFileDTO" : {
        "required" : [ "apentry" ],
        "type" : "object",
        "properties" : {
          "shortname" : {
            "type" : "string",
            "description" : "Titel",
            "example" : "2016 Anträge Firma XY"
          },
          "filesubj" : {
            "type" : "string",
            "description" : "          Betreff (mehrzeilig)\n          Mehrzeilige Felder werden mit Zeilenumbrüchen oder HTML Kodierung &#10; in Abfragen unterstützt.\n",
            "example" : "Alle Anträge der Firma XY aus dem Jahr 2016"
          },
          "objterms" : {
            "type" : "string",
            "description" : "Schlagworte, Angabe der Schlagworte getrennt mit „;“. Kein Semikola am Ende angeben.",
            "example" : "Firma XY; Anträge; Anträge 2016"
          },
          "accdef" : {
            "type" : "string",
            "description" : "Zugriffsdefinition\nEindeutiger Name der Zugriffsdefinition. z.B.:\n• Zugriffsdefinition für Schriftgutobjekte (allgemein lesbar)\n• Zugriffsdefinition für Schriftgutobjekte der Organisationseinheit\n• Zugriffsdefinition für Schriftgutobjekte der Organisationseinheit und Zentralregistratur\n• Zugriffsdefinition für Schriftgutobjekte des Eigentümers\nHinweis: Hierbei kann die gewünschte Zugriffsdefinition der Akte gesetzt werden. Wenn kein Wert übergeben wird, wird die auf dem Aktenplaneintrag hinterlegte Zugriffsdefinition initialisiert.",
            "example" : "Zugriffsdefinition für Schriftgutobjekte (allgemein lesbar)"
          },
          "apentry" : {
            "type" : "string",
            "description" : "Aktenplankennzeichen Objekt-ID",
            "example" : "COO.1.2301.1.683"
          },
          "fileruntimefrom" : {
            "type" : "string",
            "description" : "Laufzeitbeginn",
            "format" : "date-time",
            "example" : "2017-01-13T17:09:42.411+01:00"
          },
          "fileruntimetill" : {
            "type" : "string",
            "description" : "Laufzeitende",
            "format" : "date-time",
            "example" : "2017-01-13T17:09:42.411+01:00"
          },
          "fileouobj" : {
            "type" : "string",
            "description" : "Objekt-ID (COO-Adresse) der aktenführenden Organisationseinheit.\nAls Organisationseinheit der Akte wird die Organisationseinheit des darüber liegenden Aktenplankennzeichens gesetzt.\nSofern keine Organisationseinheit auf dem Aktenplankennzeichen definiert ist, wird die Organisationseinheit der ersten Rolle des Benutzers verwendet.",
            "example" : "COO.1.2300.1.847"
          },
          "procedureaccdef" : {
            "type" : "string",
            "description" : "Zugriffsdefinition für Vorgänge\nEindeutiger Name der Zugriffsdefinition. z.B.:\n• Zugriffsdefinition für Schriftgutobjekte (allgemein lesbar)\n• Zugriffsdefinition für Schriftgutobjekte der Organisationseinheit\n• Zugriffsdefinition für Schriftgutobjekte der Organisationseinheit und Zentralregistratur\n• Zugriffsdefinition für Schriftgutobjekte des Eigentümers\nÜber diese Eigenschaft wird definiert welche Zugriffsdefinition beim Anlegen eines neuen Vorgangs verwendet wird.",
            "example" : "Zugriffsdefinition für Schriftgutobjekte der Organisationseinheit"
          }
        }
      },
      "UpdateOutgoingRequestDTO" : {
        "type" : "object",
        "properties" : {
          "shortname" : {
            "type" : "string",
            "description" : "Titel",
            "example" : "2016 Anträge Firma XY"
          },
          "filesubj" : {
            "type" : "string",
            "description" : "          Betreff (mehrzeilig)\n          Mehrzeilige Felder werden mit Zeilenumbrüchen oder HTML Kodierung &#10; in Abfragen unterstützt.\n",
            "example" : "Alle Anträge der Firma XY aus dem Jahr 2016"
          },
          "objterms" : {
            "type" : "string",
            "description" : "Schlagworte, Angabe der Schlagworte getrennt mit „;“. Kein Semikola am Ende angeben.",
            "example" : "Firma XY; Anträge; Anträge 2016"
          },
          "accdef" : {
            "type" : "string",
            "description" : "        Zugriffsdefinition\n        Eindeutiger Name der Zugriffsdefinition. z.B.:\n        • Zugriffsdefinition für Schriftgutobjekte (allgemein lesbar)\n        • Zugriffsdefinition für Schriftgutobjekte der Organisationseinheit\n        • Zugriffsdefinition für Schriftgutobjekte der Organisationseinheit und Zentralregistratur\n        • Zugriffsdefinition für Schriftgutobjekte des Eigentümers\n",
            "example" : "Zugriffsdefinition für Schriftgutobjekte (allgemein lesbar)"
          },
          "referredincoming" : {
            "type" : "string",
            "description" : "      Bezug zu Eingang\n      Bei Bedarf kann die COO-Adresse des Eingangs geändert werden,\n      damit ein direkter Bezug zwischen Ein- und Ausgang hergestellt werden kann.\n",
            "example" : "COO.1.2301.1.1042441"
          },
          "outgoingdate" : {
            "type" : "string",
            "description" : "Termin (Datum/Uhrzeit)",
            "format" : "date-time",
            "example" : "2016-10-26T18:48:01+01:00"
          },
          "incattachments" : {
            "type" : "string",
            "description" : "sonstige Anlagen",
            "example" : "Ausfüllhilfe Antrag auf Baugenehmigung"
          }
        },
        "description" : "Parameter die den Ausgang spezifizieren"
      },
      "CreateObjectAndImportToInboxDTO" : {
        "required" : [ "objaddress" ],
        "type" : "object",
        "properties" : {
          "objaddress" : {
            "type" : "string",
            "description" : "Objekt-ID (COO-Adresse) des Postkorb",
            "example" : "COO.1.2302.1.8"
          }
        },
        "description" : "Parameter, die den Postkorb beschreiben"
      },
      "ArrayOfstring" : {
        "type" : "object",
        "properties" : {
          "string" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }
      },
      "SearchObjNameAnfrageDTO" : {
        "required" : [ "objclass", "searchstring" ],
        "type" : "object",
        "properties" : {
          "searchstring" : {
            "type" : "string",
            "description" : "Suchstring für Objektname",
            "example" : "Test*"
          },
          "objclass" : {
            "type" : "string",
            "description" : "Referenz der Objektklasse\n\n• Aktenplan COOELAK@1.1001:Fileplan\n\n• Aktenplaneintrag COOELAK@1.1001:SubjectArea\n\n• Ausgang COOELAK@1.1001:Outgoing\n\n• AutoCAD Zeichnung FSCAUTOCAD@1.1001:Drawing\n\n• Benutzer COOSYSTEM@1.1:User\n\n• Bericht FSCAREXT@1.1001:Report\n\n• Bild FSCWEBCONT@1.1001:ImageObject\n\n• Dokumentkategorie FSCFOLIO@1.1001:DocumentCategory\n\n• Dokumenttyp COOELAK@1.1001:Subject\n\n• Dokument  COOELAK@1.1001:SubFileDocument\n\n(bei Angabe dieser Objektklasse, sollten Eingangs-, und Ausgangsdokumente angezeigt werden)\n\n• E-Mail (Microsoft Office Outlook) COOMAPI@1.1:MailObject\n\n• E-Mail (MIME) FSCMIME@1.1001:MIMEObject\n\n• Eingang COOELAK@1.1001:Incoming\n\n• Freemind Mindmap CFGMUENCHEN@15.1700:FreemindMindmap\n\n• Frist ELAKGOV@1.1001:Deadline\n\n• GIF-Objekt FSCWEBCONT@1.1001:GIFObject\n\n• Hewlett Packard Graphic Language CFGMUENCHEN@15.1700:HPGraphicLanguage\n\n• Inhalt (erweitert) CFGMUENCHEN@15.1700:GenericContent\n\n• Inhalt (unbekannter Typ) GENCONT@1.1:ContentObject\n\n• JPEG-Objekt FSCWEBCONT@1.1001:JPEGObject\n\n• Kostenstelle CFGMUENCHEN@15.1700:CostCenter\n\n• Medieninhalt FSCDIGITALASSET@1.1001:DigitalAsset\n\n• Microsoft Excel-Arbeitsblatt COOMSOFFICE@1.1:ExcelObject\n\n• Microsoft PowerPoint-Präsentation COOMSOFFICE@1.1:PowerPointObject\n\n• Microsoft Project-Objekt COOMSPROJECT@1.1001:MSProject\n\n• Microsoft Visio-Zeichnung VISIO@1.1:VisioObject\n\n• Microsoft Word-Objekt COOMSOFFICE@1.1:WinWordObject\n\n• OpenDocument Formel FSCOOFFICE@1.1001:OOorgMathObject\n\n• OpenOffice.org Vorlage CFGMUENCHEN@15.1700:OOorgTemplateObject\n\n• Ordner COODESK@1.1:Folder\n\n• Organisation FSCFOLIO@1.1001:Organisation\n\n• Organisationseinheit COOSYSTEM@1.1:Group\n\n• PDF-Dokument FSCACROBAT@1.1:PDFObject\n\n• Person FSCFOLIO@1.1001:Person\n\n• Personenakte CFGMUENCHEN@15.1700:PersonalSubjectAreaFile\n\n• PNG-Objekt FSCWEBCONT@1.1001:PNGObject\n\n• Postkorb FSCVGOV@1.1001:Inbox\n\n• Präsentation FSCOOFFICE@1.1001:OOorgPresObject\n\n• Projektordner COOELAK@1.1001:ProjectFolder\n\n• Rechnungsposition CFGMUENCHEN@15.1700:InvoiceItem\n\n• Rich Text Format CFGMUENCHEN@15.1700:RichTextFormat\n\n• Sachakte DEPRECONFIG@15.1001:SubjectAreaFile\n\n• Schlagwort FSCTERM@1.1001:Term\n\n• Schmierzettel ELAKGOV@1.1001:FileMemo\n\n• Schriftstück COOSYSTEM@1.1:ContentObject\n\n• Serena OpenProj Projekt CFGMUENCHEN@15.1700:SerenaOpenProj\n\n• Suchordner COOQBOL@1.1:GenericStoredQBOL\n\n• Tabelle FSCOOFFICE@1.1001:OOorgCalcObject\n\n• Teamroom FSCTEAMROOM@1.1001:TeamRoom\n\n• Text-Dokument NOTE@1.1:NoteObject\n\n• Textbaustein COOAR@1.1:BasicTextModuleEx_Web\n\n• Textdokument FSCOOFFICE@1.1001:OOorgTextObject\n\n• TIFF-Objekt FSCWEBCONT@1.1001:TIFFObject\n\n• Verteiler COOELAK@1.1001:DistributionList\n\n• Verteilerliste COOWF@1.1:ParticipantInstance\n\n• Vorgang DEPRECONFIG@15.1001:Procedure\n\n• Vorlagenkategorie COOTC@1.1001:TemplateCategory\n\n• XDOMEA Paket FSCGOVXMLDE@1.1001:XDOMEAPackage\n\n• Zeichnung FSCOOFFICE@1.1001:OOorgDrawObject\n\n• Zip-Archiv WINZIP@1.1001:WinZipObject\n\n(Alle Objekte von Objektklassen, nach denen ein Sachbearbeiter suchen kann.)\n",
            "example" : "FSCACROBAT@1.1:PDF Object"
          },
          "reference" : {
            "type" : "string",
            "description" : "Referenz des Fachdatum",
            "example" : "data_dognumber"
          },
          "value" : {
            "type" : "string",
            "description" : "Wert des Fachdatum",
            "example" : "458965"
          }
        }
      },
      "SearchApentryResponseDTO" : {
        "type" : "object",
        "properties" : {
          "giobjecttype" : {
            "type" : "array",
            "description" : "Auflistung aller Objekte, auf die der Suchstring zutrifft.\nRückgabe der Eigenschaften, die im Datentyp GIObjectType definiert sind.",
            "items" : {
              "$ref" : "#/components/schemas/Objektreferenz"
            }
          }
        }
      },
      "UpdateContentObjectAntwortDTO" : {
        "type" : "object",
        "properties" : {
          "contentobjid" : {
            "type" : "string",
            "description" : "Objekt-ID (COO-Adresse) des ersetzten Schriftstücks",
            "example" : "COO.1.2301.1.1042466"
          },
          "contentobjname" : {
            "type" : "string",
            "description" : "Objektname des ersetzten Schriftstücks",
            "example" : "LHM Schreiben Extern vom 11.11.2016 v101"
          },
          "objid" : {
            "type" : "string",
            "description" : "Zugehöriges Dokument, Objekt-ID (COO-Adresse) des Dokuments, in dem das Schriftstück ersetzt worden ist.",
            "example" : "COO.1.2301.1.1042465"
          },
          "objname" : {
            "type" : "string",
            "description" : "Objektname des Dokuments, in dem das Schriftstück ersetzt worden ist.",
            "example" : "Ausgangsschreiben zum Antrag auf Baugenehmigung Firma Mustermann (0010 A20 011-4-0006-0006)"
          }
        }
      },
      "UpdateOutgoingRequestBodyDTO" : {
        "required" : [ "params" ],
        "type" : "object",
        "properties" : {
          "params" : {
            "$ref" : "#/components/schemas/UpdateOutgoingRequestDTO"
          },
          "giattachmenttype" : {
            "type" : "array",
            "description" : "Liste der Objektadressen und Namen der Schriftstücke im Dokument",
            "items" : {
              "type" : "string",
              "format" : "binary"
            }
          }
        }
      },
      "CreateProcedureDTO" : {
        "required" : [ "referrednumber" ],
        "type" : "object",
        "properties" : {
          "shortname" : {
            "type" : "string",
            "description" : "Titel",
            "example" : "2016 Anträge Firma XY"
          },
          "filesubj" : {
            "type" : "string",
            "description" : "          Betreff (mehrzeilig)\n          Mehrzeilige Felder werden mit Zeilenumbrüchen oder HTML Kodierung &#10; in Abfragen unterstützt.\n",
            "example" : "Alle Anträge der Firma XY aus dem Jahr 2016"
          },
          "objterms" : {
            "type" : "string",
            "description" : "Schlagworte, Angabe der Schlagworte getrennt mit „;“. Kein Semikola am Ende angeben.",
            "example" : "Firma XY; Anträge; Anträge 2016"
          },
          "accdef" : {
            "type" : "string",
            "description" : "Zugriffsdefinition\nEindeutiger Name der Zugriffsdefinition. z.B.:\n• Zugriffsdefinition für Schriftgutobjekte (allgemein lesbar)\n• Zugriffsdefinition für Schriftgutobjekte der Organisationseinheit\n• Zugriffsdefinition für Schriftgutobjekte der Organisationseinheit und Zentralregistratur\n• Zugriffsdefinition für Schriftgutobjekte des Eigentümers\nHinweis: Hierbei kann die gewünschte Zugriffsdefinition der Akte gesetzt werden. Wenn kein Wert übergeben wird, wird die auf dem Aktenplaneintrag hinterlegte Zugriffsdefinition initialisiert.",
            "example" : "Zugriffsdefinition für Schriftgutobjekte (allgemein lesbar)"
          },
          "fileruntimefrom" : {
            "type" : "string",
            "description" : "Laufzeitbeginn",
            "format" : "date-time",
            "example" : "2017-01-13T17:09:42.411+01:00"
          },
          "fileruntimetill" : {
            "type" : "string",
            "description" : "Laufzeitende",
            "format" : "date-time",
            "example" : "2017-01-13T17:09:42.411+01:00"
          },
          "procremark" : {
            "type" : "string",
            "description" : "Bemerkung für Prozessverantwortliche",
            "example" : "Warte auf Rückmeldung"
          },
          "referrednumber" : {
            "type" : "string",
            "description" : "Objekt-ID (COO-Adresse) der Sachakte",
            "example" : "COO.1.2301.1.1042406"
          },
          "filetype" : {
            "type" : "string",
            "description" : "  Art des Vorgangs\n  Einer der drei kann beim Anlegen eines Vorgangs übergeben werden:\n  • Elektronisch\n  • Papier\n  • Hybrid.\n  Wird ein falscher Wert angegeben, wird eine Fehlermeldung zurückgegeben:\n  Status -1 und \"Art des Vorgangs\" enthält einen ungültigen Wert.“\n  Wenn kein Wert eingetragen wird, wird „Elektronisch“ hinterlegt.\n",
            "example" : "Elektronisch"
          }
        }
      },
      "BusinessObjectReference" : {
        "type" : "object",
        "properties" : {
          "objname" : {
            "type" : "string"
          },
          "objaddress" : {
            "type" : "string"
          },
          "objclass" : {
            "type" : "string"
          },
          "objcreatedat" : {
            "type" : "string",
            "format" : "date-time"
          },
          "objcreatedby" : {
            "$ref" : "#/components/schemas/ArrayOfstring"
          },
          "objmodifiedat" : {
            "type" : "string",
            "format" : "date-time"
          },
[...]
