name: refarch-development-stack

services:
  # === Keycloak ===
  keycloak:
    image: quay.io/keycloak/keycloak:20.0.5@sha256:054ef67eb7dae0129bbb9eb0e0797fd2392cd6d135094a6063ae7ff7773ef81f
    command:
      - start-dev --http-relative-path /auth
    depends_on:
      - db-postgres-keycloak
    environment:
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin
      - KC_HOSTNAME_STRICT=false
      - KC_HEALTH_ENABLED=true
      - KC_HTTP_PORT=8100
      - DB=postgres
      - DB_URL=jdbc:postgresql://db-postgres-keycloak:5432/keycloak
      - DB_USERNAME=keycloak-user
      - DB_PASSWORD=keycloak-secret
    ports:
      - "8100:8100"
    networks:
      - keycloak
    healthcheck: &healthcheck
      test: ["CMD-SHELL",  "curl http://localhost:8100/auth/health/live"]
      interval: 30s
      timeout: 60s
      retries: 3
      start_period: 60s
    security_opt: &security_settings
      - no-new-privileges:true

  db-postgres-keycloak:
    image: postgres:16.4-alpine3.20@sha256:d898b0b78a2627cb4ee63464a14efc9d296884f1b28c841b0ab7d7c42f1fffdf
    environment:
      - POSTGRES_DB=keycloak
      - POSTGRES_USER=keycloak-user
      - POSTGRES_PASSWORD=keycloak-secret
    networks:
      - keycloak
    healthcheck:
      <<: *healthcheck
      test: [ "CMD-SHELL", "pg_isready -d keycloak -U keycloak-user" ]
    security_opt: *security_settings

  init-keycloak:
    image: klg71/keycloakmigration:0.2.69@sha256:66474865869f4dc11763e62e9722a62bd3351161d148547c3620f71e6809e95a
    depends_on:
      - keycloak
    environment:
      ADMIN_USER: admin
      ADMIN_PASSWORD: admin
      BASEURL: http://keycloak:8100/auth
      WAIT_FOR_KEYCLOAK: 'true'
      KEYCLOAK_CHANGELOG: /migration/keycloak-changelog.yml
    volumes:
      - './keycloak/migration:/migration'
    networks:
      - keycloak
    security_opt: *security_settings

  # === S3 ===
  minio:
    image: quay.io/minio/minio:RELEASE.2024-08-17T01-24-54Z@sha256:6f23072e3e222e64fe6f86b31a7f7aca971e5129e55cbccef649b109b8e651a1
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: Test1234
    ports:
      - '9000:9000'
      - '9001:9001'
    volumes:
      - ./minio:/data
    networks:
      - internal
    healthcheck:
      <<: *healthcheck
      test: [ "CMD-SHELL",  "curl http://localhost:9000/minio/health/live" ]
    security_opt: *security_settings

  init-minio:
    image: minio/mc:RELEASE.2024-08-17T11-33-50Z@sha256:87382ad79da9f464a444aab607b3db9251c7fe7d1bfda0eb86cbacee2ca2b564
    depends_on:
      - minio
    entrypoint: >
      /bin/sh -c "
        mc config host add minio http://minio:9000 minio Test1234;
        mc mb minio/test-bucket;
        exit 0;
      "
    networks:
      - internal
    security_opt: *security_settings

  # === Mail ===
  mailpit:
    image: axllent/mailpit:v1.20.6@sha256:777080b355ef30e99b23007e4d043b452cf84fd4dcb378ef30da5a0aa316c33d
    ports:
      - '1025:1025' # SMTP Server
      - '8025:8025' # UI
    security_opt: *security_settings

networks:
  keycloak:
  internal: