:root {
    --muc-logo-filter: invert(0);
}

.dark {
    --muc-logo-filter: invert(1);
}

/* Enables footer on all pages instead of only the home page */
footer.VPFooter {
    display: block !important;
    z-index: 100 !important;
}

@media all and (max-width: 450px) {
    /* Show only partial logo on mobile */
    .VPNav div.logo a {
        overflow: hidden;
        width: 23px;
    }
    .VPNav div.logo a img {
        object-fit: cover;
        object-position: left;
    }
}
