spring:
  application.name: @project.artifactId@
  banner.location: banner.txt
  main:
    web-application-type: reactive
  jackson:
    serialization:
      indent-output: on
  session:
    timeout: 1800  # in seconds; Goal: same lifetime as SSO Session, actual: 30 minutes
  cloud:
    gateway:
      globalcors:
        cors-configurations:
          '[/public/**]':
            allowedOriginPatterns: ${ALLOWED_ORIGINS_PUBLIC}
          '[/clients/**]':
            allowedOriginPatterns: ${ALLOWED_ORIGINS_CLIENTS}
            allowedHeaders: "*"
            allowCredentials: true
      default-filters:
        - RemoveResponseHeader=Expires
        - RemoveRequestHeader=cookie
        - RemoveRequestHeader=x-xsrf-token
        - TokenRelay=

server:
  port: 8080
  error:
    include-exception: false
    include-stacktrace: never
    include-message: always
    whitelabel:
      enabled: false
  shutdown: graceful

management:
  endpoints:
    access:
      default: none
    web:
      exposure:
        include: health, info, prometheus, livenessState, readinessState
      path-mapping:
        prometheus: metrics
  endpoint:
    health:
      access: read_only
      probes:
        enabled: true
    info:
      access: read_only
    prometheus:
      access: read_only
  info:
    env:
      enabled: true

info:
  application:
    name: @project.artifactId@
    version: @project.version@
    description: @project.description@
  build:
    java.version: @java.version@
    spring-cloud.version: @spring-cloud-dependencies.version@

config:
  map5xxto400: true