name: Actionlint

on:
  pull_request:

jobs:
  actionlint:
    name: Run actionlint
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: it-at-m/lhm_actions/action-templates/actions/action-actionlint@12966547963631f8429d42bab860485b413003c2 # v1.0.22
