name: Build the Integration artifacts and images

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build-maven:
    runs-on: ubuntu-latest
    outputs:
      ARTIFACT_NAME: ${{ steps.maven-build-step.outputs.artifact-name }}
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Maven build
        uses: it-at-m/lhm_actions/action-templates/actions/action-maven-build@e76e0bde64af98eb44ccd5b6e048ce5d82f4acc4 # v1.0.13
        id: maven-build-step
        with:
          app-path: refarch-integrations

  build-images:
    if: github.ref_name == 'main'
    needs: build-maven
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - name: s3-integration-rest-service
            path: ./refarch-integrations/refarch-s3-integration/refarch-s3-integration-rest/refarch-s3-integration-rest-service
    steps:
      - name: Build and push image
        uses: it-at-m/lhm_actions/action-templates/actions/action-build-image@e76e0bde64af98eb44ccd5b6e048ce5d82f4acc4 # v1.0.13
        with:
          registry-username: ${{ github.actor }}
          registry-password: ${{ secrets.GITHUB_TOKEN }}
          path: ${{ matrix.path }}
          artifact-name: ${{ needs.build-maven.outputs.ARTIFACT_NAME }}
          image-name: ${{ matrix.name }}
          image-tags: |
            type=raw,value=dev
