name: build-integrations

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build-maven:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
      - uses: ./.github/actions/build-maven
        with:
          module: refarch-integrations

  build-images:
    if: github.ref_name == 'main'
    needs: build-maven
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - name: s3-integration-rest-service
            path: ./refarch-integrations/refarch-s3-integration/refarch-s3-integration-rest/refarch-s3-integration-rest-service
    steps:
      - name: Checkout code
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
      - uses: ./.github/actions/build-image
        with:
          registry-username: ${{ github.actor }}
          registry-password: ${{ secrets.GITHUB_TOKEN }}
          path: ${{ matrix.path }}
          image-name: ${{ matrix.name }}
          image-tags: |
            type=raw,value=dev
