name: build-integrations

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build-maven:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Maven build
        uses: ./.github/actions/build-maven
        with:
          module: refarch-integrations

  build-images:
    if: github.ref_name == 'main'
    needs: build-maven
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - name: s3-integration-rest-service
            path: ./refarch-integrations/refarch-s3-integration/refarch-s3-integration-rest/refarch-s3-integration-rest-service
    steps:
      - name: Build and push image
        uses: it-at-m/.github/.github/actions/action-build-image@main
        with:
          registry-username: ${{ github.actor }}
          registry-password: ${{ secrets.GITHUB_TOKEN }}
          path: ${{ matrix.path }}
          artifact-name: "target"
          image-name: ${{ matrix.name }}
          image-tags: |
            type=raw,value=dev
