env:
  JAVA_VERSION: 21
  REGISTRY: ghcr.io
  TZ: Europe/Berlin

on:
  workflow_call:
    inputs:
      snapshot-release:
        description: 'Snapshot release?'
        type: boolean
        default: true
      build-images:
        description: 'Build and push images?'
        type: boolean
        default: false
      release-version:
        description: 'Release version'
        type: string
        required: false
        default: "X.Y.Z"
      next-version:
        description: "Next version to use after release."
        type: string
        required: false
        default: "X.Y.Z-SNAPSHOT"

jobs:
  build-maven:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: ${{ env.JAVA_VERSION }}
          distribution: "temurin"
          cache: "maven"
      - name: Maven build
        if: ${{ inputs.snapshot-release != false }}
        run: mvn --batch-mode clean install
      - name: Maven release
        if: ${{ inputs.snapshot-release == false }}
        run: |
          git config --global user.email "github-actions@github.com"
          git config --global user.name "GitHub Actions"
          mvn release:prepare -f ./pom.xml -B -DreleaseVersion=${{ inputs.release-version }} -DdevelopmentVersion=${{ inputs.next-version }} -DpushChanges=false
          mvn release:perform -f ./pom.xml -Darguments="-Dmaven.deploy.skip=true"
      - name: "Upload target artifacts"
        uses: actions/upload-artifact@v4
        with:
          name: target
          path: "**/target"
          retention-days: 5
      - name: Push changes to new branch
        if: ${{ inputs.snapshot-release == false }}
        run: |
          git checkout -b ${{ github.ref_name }}-version-bump
          git push --force origin ${{ github.ref_name }}-version-bump
      - name: Create pull request
        if: ${{ inputs.snapshot-release == false }}
        uses: actions/github-script@v7
        with:
          script: |
            const { repo, owner } = context.repo;
            const pullResult = await github.rest.pulls.create({
              title: 'chore: bump release version ${{ github.ref_name }}',
              owner,
              repo,
              head: '${{ github.ref_name }}-version-bump',
              base: '${{ github.ref_name }}',
              body: [
                'This PR is auto-generated'
              ].join('\n')
            });
            await github.rest.issues.addAssignees({
              owner,
              repo,
              issue_number: pullResult.data.number,
              assignees: ['${{ github.actor }}'],
            });
            console.log(`Pull Request created: ${pullResult.data.html_url}`);

  build-images:
    if: inputs.build-images == true
    needs: build-maven
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - name: refarch-gateway
            path: ./refarch-gateway
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Download target artifacts
        uses: actions/download-artifact@v4
        with:
          name: target
      - name: Login to Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Extract metadata (tags, labels) for image
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: "${{ env.REGISTRY }}/${{ github.repository }}/${{ matrix.name }}"
          tags: |
            type=raw,value=${{ inputs.release-version }}
            type=raw,value=latest,enable=${{ inputs.snapshot-release == false }}
      - name: Build and push image
        uses: docker/build-push-action@v6
        with:
          context: ${{ matrix.path }}
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
