name: Build Gateway and tools

on:
  pull_request:
  push:
    branches:
      - "main"

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      TZ: Europe/Berlin # timezone
    permissions:
      contents: read
      packages: write
    strategy:
      fail-fast: false
      matrix:
        include: # paths of different modules
          - app-path: refarch-gateway
            build-image: true
          - app-path: refarch-tools/refarch-java-tools
            build-image: false
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - if: ${{ hashFiles(format('./{0}/package.json', matrix.app-path)) != null }}
        id: node
        uses: it-at-m/lhm_actions/action-templates/actions/action-npm-build@e012d3bda6f9d5511415e2d885f32826049284a4 # v1.0.23
        with:
          app-path: "${{ matrix.app-path }}"
      - if: ${{ hashFiles(format('./{0}/pom.xml', matrix.app-path)) != null }}
        id: maven
        uses: it-at-m/lhm_actions/action-templates/actions/action-maven-build@e012d3bda6f9d5511415e2d885f32826049284a4 # v1.0.23
        with:
          app-path: "${{ matrix.app-path }}"
      - if: github.ref == 'refs/heads/main' && matrix.build-image
        uses: it-at-m/lhm_actions/action-templates/actions/action-build-image@e012d3bda6f9d5511415e2d885f32826049284a4 # v1.0.23
        with:
          path: "${{ matrix.app-path }}"
          image-name: "${{ matrix.app-path }}"
          artifact-name: ${{ join(steps.*.outputs.artifact-name, ',') }}
          registry-password: ${{ secrets.GITHUB_TOKEN }}
          registry-username: ${{ github.actor }}
          image-tags: |
            type=raw,value=dev
