name: Retag Docker image

on:
  workflow_dispatch:
    inputs:
      image-name:
        description: 'Image name'
        type: string
        required: true
      existing-tag:
        description: 'Existing tag'
        type: string
        required: true
      new-tag:
        description: 'New tag'
        type: string
        required: true
        default: "latest"

jobs:
  retag-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Retag image
        uses: ./.github/actions/retag-image
        with:
          registry-username: ${{ github.actor }}
          registry-password: ${{ secrets.GITHUB_TOKEN }}
          image-name: ${{ inputs.image-name }}
          existing-tag: ${{ inputs.existing-tag }}
          new-tag: ${{ inputs.new-tag }}
